@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

html {
  background-color: #eee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}